.logo{
    background-color: hotpink;
}
.logo img{
    width:164px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right ul{
    display: flex;
    gap: 40px;
}
.right ul li{
    list-style: none;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin: 25px;
    font-family:sans-serif;
}
.first span{
    font-size: 40px;
}
.first p{
    font-size: 23px;
    width: 44vw;
    text-align: center;
}
.first button{
    background: rgb(130, 165, 196);
    padding: 14px 16px;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: 700;
}
section span img{
    width: 82px;
    margin: 0 23px;
}
.flex{
    display: flex;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.download{
    gap: 0px;
    font-size:23px;
}
.Ultra{
    padding:0px;
    margin-top: 12px;
}
.button{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    padding-bottom: 12px;
    gap:15px;
    padding: 12px;
}
.item{
    background-color: rgb(249, 247, 247);
    border-radius: 7px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.green{
    background-color: rgb(160, 228, 160);
    border-radius: 6px;
    border: none;
    font-weight: 700;
    height: 50px;
    width: 120px;

}
.blue{
    background-color: rgb(174, 215, 245);
    border-radius: 6px;
    border: none;
    font-weight: 700;
    height: 50px;
    width: 120px;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:17px;
}
.item-lang{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 27px;
    padding-top: 12px;
}
.container{
    max-width: 70%;
    margin: auto;
}

